{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Compra Realizada com Sucesso!</h1>
        <p>Obrigado por fazer compras na Mark3t. Seu pedido foi confirmado.</p>
        <p>Itens do Pedido:</p>
        <ul>
            {% for item in carrinho_items %}
            <li>{{ item.descricao }} - Quantidade: {{ item.quantidade }} - Preço Total: R$ {{ item.total_item }}</li>
            {% endfor %}
        </ul>
        <p>Total da Compra: R$ {{ total_valor }}</p>
        <a href="{% url 'index' %}" class="btn btn-success">Finalizar Compra</a>
    </div>
{% endblock %}
