{% extends 'base.html' %}
{% block link %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'venda/css/list.css' %}">
{% endblock link %}

{% block content %}
    <main>
        <h4>Lista de Produtos</h4>
        <div class="mb-3">
            <a href="{% url 'add_produtos' %}" class="btn btn-outline-success">Adicionar</a>
        </div>
        <table class="table" border="1">
            <thead>
            <tr>
                <th>Descrição</th>
                <th>Valor Unitário</th>
                <th colspan="2">Ações</th>
            </tr>
            </thead>
            {% for produto in produtos %}
                <tr>
                    <td>{{ produto.descricao }}</td>
                    <td>{{ produto.valor }}</td>
                    {% if user.is_superuser %}
                        <td>
                            <a href="{% url 'update_produtos' produto.id %}" class="btn btn-warning">Editar</a>
                        </td>
                        <td>
                            <a href="{% url 'del_produtos' produto.id %}" class="btn btn-danger">Excluir</a>
                        </td>
                    {% else %}
                        <td>
                            <form action="{% url 'add_to_carrinho' produto.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Adicionar ao carrinho</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </main>
{% endblock content %}
