{% extends 'base.html' %}
{% block link %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'venda/css/list.css' %}">
{% endblock link %}

{% block content %}
    <main>
        <h4>Lista de Vendas</h4>

        <table class="table" border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Cliente</th>
                <th>Data e Hora</th>
                <th>Total da Venda</th>
                <th>Consulte aqui sua Compra👇</th>
            </tr>
            </thead>
            {% for venda in vendas %}
                <tr>
                    <td>{{ venda.id }}</td>
                    <td>{{ venda.usuario }}</td>
                    <td>{{ venda.data | date:'d/M/Y H:i' }}</td>
                    <td>{{ venda.total_venda }}</td>
                    <td><a href="{% url 'detail_venda' venda.id %}">Consultar Venda</a></td>
                </tr>
            {% endfor %}
        </table>
    </main>
{% endblock content %}