{% extends 'base.html' %}

{% block content %}
    <main class="container">
        {% if user.is_superuser %}
            <div class="mb-3">
                <a href="{% url 'add_produtos' %}" class="btn btn-outline-success">Adicionar</a>
            </div>
        {% endif %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for produto in produtos %}
                <div class="col">
                    <div class="card border-success h-100">
                        <div class="card-header bg-transparent">
                            <img src="{{ produto.imagem.url }}" class="card-img-top" alt="{{ produto.nome }}">
                        </div>
                        <div class="card-body text-center">
                            <h6 class="card-title">{{ produto.descricao }}</h6>
                            <p class="card-text font-weight-bold">{{ produto.valor }}</p>
                        </div>
                        <div class="card-footer bg-transparent border-success">
                            {% if user.is_superuser %}
                                <div class="d-flex justify-content-md-between">
                                    <a href="{% url 'update_produtos' produto.id %}" class="btn btn-warning">Editar</a>
                                    <a href="{% url 'del_produtos' produto.id %}" class="btn btn-danger">Excluir</a>
                                </div>
                            {% else %}
                                <div class="d-flex justify-content-md-center">
                                    <a href="{% url 'add_to_carrinho' produto.id %}" class="btn btn-primary">Adicionar ao carrinho</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}