<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>

    <title>Produtos</title>
    {% extends 'venda/layout.html' %}
    {% block link %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'venda/css/list.css' %}">
    {% endblock link %}
</head>
<body>
    {% block content %}
        <main>
            <h4>Lista de Produtos</h4>

            <table class="table" border="1">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Descrição</th>
                    <th>Valor Unitário</th>
                </tr>
                </thead>
                {% for produto in produtos %}
                    <tr>
                        <td>{{ produto.id }}</td>
                        <td>{{ produto.descricao }}</td>
                        <td>{{ produto.valor }}</td>
                    </tr>
                {% endfor %}
            </table>
        </main>
    {% endblock content %}
</body>
</html>
