<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>

    <title>Clientes</title>
    {% extends 'venda/layout.html' %}
    {% block link %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'venda/css/list.css' %}">
    {% endblock link %}
</head>
<body>

    {% block content %}
        <main>
            <h4>Lista de Clientes</h4>

            <table class="container table" border="1">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Login</th>
                </tr>
                </thead>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.id }}</td>
                        <td>{{ usuario.first_name }}</td>
                        <td>{{ usuario.last_name }}</td>
                        <td>{{ usuario.username }}</td>
                    </tr>
                {% endfor %}
            </table>
        </main>
    {% endblock content %}
</body>
</html>