<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>

    <title>Clientes</title>
    {% extends 'venda/layout.html' %}
    {% block link %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'venda/css/list.css' %}">
    {% endblock link %}
</head>
<body>

    {% block content %}
        <main>
            <h4>Lista de Clientes</h4>

            <table class="container table" border="1">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Cliente</th>
                    <th>CPF/CNPJ</th>
                    <th>Telefone</th>
                </tr>
                </thead>
                {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.nome }}</td>
                        {% if cliente.cnpj %}
                            <td>{{ cliente.cnpj }}</td>
                        {% else %}
                            <td>{{ cliente.cpf }}</td>
                        {% endif %}
                        <td>{{ cliente.telefone }}</td>
                    </tr>
                {% endfor %}
            </table>
        </main>
    {% endblock content %}
</body>
</html>